<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <nav>
            <ul clas="nav navbar-nav nav-bar-right">

                <li><%= link_to "Dashboard",    root_path %></li>
                <li><%= link_to "Tickets",      ticket_path%></li>
                <li><%= link_to "Knowledge_platform",     knowledge_platform_path%></li>
                <li><%= link_to "Reports",      reports_path%></li>
                <li><%= link_to "Contact_us",      contact_us_path%></li>
            </ul>
        </nav>
    </div>
</header>






