<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag    'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <!--[if 1t IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.js">
            </script>
        <![endif]-->
    </head>
    <body>
        <header clss="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
                <%= link_to "maintenance app", '#', id: "logo" %>
                <%= render 'layouts/header' %>
                <%= yield %>

            </div>
    </body>
</html>



